<div class="toolbar">
  <button class="secondary" (click)="editMode = !editMode">{{getEditButtonLabel()}}</button>
  <div class="actions">
    <button class="secondary" title="Clear local storage" (click)="clearConfig()">Clear</button>
    <button class="primary" [disabled]="!gridDirty" (click)="saveConfig()">Save</button>
  </div>
</div>

<yuv-widget-grid [gridItemConfig]="gridItemConfig" [editMode]="editMode" (gridItemEvent)="onGridEvent($event)"
  (gridChange)="onGridChange($event)"></yuv-widget-grid>